html, body {
    margin: 0px;
    padding: 0px;
    font-family: "Myriad Set Pro","Helvetica Neue","Helvetica","Arial","Verdana","sans-serif";
}

body {
    padding: 80px 0px 8px 0px;
}

header {
    height: 76px;
    background-color: #00af07;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
}

header.home {
    line-height: 76px;
    font-size: 2.4em;
    font-weight: bold;
    text-align: center;
    color: white;
    text-shadow: 0px 0px 1px #023900;
    border-bottom: 4px solid darkgreen;
}

.news {
    margin: 0px 8px 0px 8px;
    padding-bottom: 8px;
    border-bottom: 2px solid rgba(0, 128, 0, 0.51);
}

.news > h4 {
    margin: 8px 0px 4px 0px;
}

ul.news-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

/*iPhone < 5:*/
@media screen and (device-aspect-ratio: 2/3) {}

/*iPhone 5:*/
@media screen and (device-aspect-ratio: 40/71) {
    header.home {
        font-size: 2em;
    }
}

/*iPhone 6:*/
@media screen and (device-aspect-ratio: 375/667) {}

/*iPhone 6 Plus:*/
@media screen and (device-aspect-ratio: 16/9) {}

/*iPad:*/
@media screen and (device-aspect-ratio: 3/4) {}